@charset "UTF-8";
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  color: black;
}

/*--------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 1 auto;
}

.parallax {
  min-height: 100vh;
}
.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__container {
  height: 100%;
}
.parallax__images {
  position: absolute;
  width: 127%;
  height: 127%;
  top: -10%;
  left: -10%;
  z-index: 1;
}
.parallax__content {
  position: relative;
  z-index: 10;
  height: 100%;
}
.parallax__top {
  display: flex;
  align-items: center;
  height: 90px;
  width: 100%;
}
.parallax__center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.parallax__actions {
  flex: 1 1 auto;
}
.parallax__job {
  font-size: 30px;
  padding: 15px 0;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 4px black;
}
@media (max-width: 1200px) {
  .parallax__job {
    font-size: calc(25px + 5 * ((100vw - 320px) / 880));
  }
}
.parallax__name {
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 4px black;
}
@media (max-width: 1200px) {
  .parallax__name {
    font-size: calc(20px + 5 * ((100vw - 320px) / 880));
  }
}

.logo-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}

.telegram {
  width: 40px;
  height: 40px;
}

.instagram {
  width: 40px;
  height: 40px;
}

.instagram-box {
  margin-left: 20px;
}

.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.images-parallax__clouds {
  background: url("../img/skypng.png") top/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 5%;
}
.images-parallax__mountains {
  background: url("../img/mountains.png") top/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 2%;
  z-index: 2;
}
.images-parallax__human {
  background: url("../img/person.png") top/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 25%;
  z-index: 3;
}

.content {
  padding: 20px 20px 150px 20px;
  position: relative;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  color: black;
}

.content::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  transform: translate(0, -100%);
  background: linear-gradient(180deg, rgba(131, 184, 131, 0) 5%, rgb(255, 255, 255) 100%);
}

.menu__list {
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: rgb(10, 184, 111);
  transition: all 0.3s;
}
.menu__list._active {
  left: 65%;
}
@media (max-width: 940px) {
  .menu__list._active {
    left: 50%;
  }
}
@media (max-width: 680px) {
  .menu__list._active {
    left: 10%;
  }
}
@media (max-width: 390px) {
  .menu__list._active {
    left: 5%;
  }
}
.menu__list-item {
  padding: 30px 0;
  width: 100%;
}
.menu__list-item:first-child {
  margin-top: 90px;
}
.menu__list-link {
  display: block;
  padding-left: 90px;
  font-size: 30px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 390px) {
  .menu__list-link {
    font-size: 25px;
  }
}

.skills {
  position: relative;
}

.skills::after {
  content: "";
  background: url("../img/laptop.svg") no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -7px;
  left: 30px;
}

.projects {
  position: relative;
}

.projects::after {
  content: "";
  background: url("../img/list.svg") no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -12px;
  left: 30px;
}

.special {
  position: relative;
}

.special::after {
  content: "";
  background: url("../img/circle.svg") no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -12px;
  left: 30px;
}

.menu__icon {
  z-index: 5;
  display: block;
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: #fff;
  transition: all 0.3s;
}

.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0, -50%);
  color: #fff;
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon._active span {
  transform: scale(0) translate(0, 0);
}

.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.content__title {
  font-size: 50px;
  font-weight: 700;
  padding: 100px 0;
}
.content .title {
  font-size: 50px;
  font-weight: 700;
}
.content__column {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}
@media (max-width: 799px) {
  .content__column {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 420px) {
  .content__column {
    flex-direction: row;
    justify-content: space-between;
  }
}

.item-column {
  display: flex;
  justify-content: space-between;
}
.item-column:first-child {
  margin-bottom: 70px;
}
@media (max-width: 799px) {
  .item-column {
    flex-direction: column;
  }
  .item-column:first-child {
    margin-bottom: 0;
  }
}
.item-column__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 799px) {
  .item-column__item {
    margin-bottom: 30px;
  }
}
.item-column__item-box {
  margin-bottom: 10px;
}
.item-column__item-image {
  width: 120px;
  height: 120px;
}
@media (max-width: 420px) {
  .item-column__item-image {
    width: 100px;
    height: 100px;
  }
}
.item-column__item-text {
  font-size: 20px;
  font-weight: 500;
}

.project-btn {
  max-width: 400px;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 25px;
  padding: 30px 0;
  text-transform: uppercase;
}

@media (any-hover: hover) {
  .project-btn:hover {
    background-color: rgb(37, 37, 37);
    color: white;
    box-shadow: 0 0 10px gold;
  }
}
.project-box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 20;
  transform: rotate(360deg);
  top: -300%;
  perspective: 1500px;
  transition: all 0.8s;
}

.project-page._active {
  background-color: black;
  transform: rotate(0deg);
  top: 0;
  overflow: hidden;
}

.gallery {
  transform-style: preserve-3d;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  will-change: transform;
  transform-style: preserve-3d;
}
.frame__title {
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  font-size: calc((1vw + 1vh) * 2.5);
}

.project-container {
  transform-style: preserve-3d;
  height: 100%;
}

.frame__media {
  position: relative;
  width: calc((1vw + 1vh) * 26);
  height: calc((1vw + 1vh) * 50);
  background-position: left;
}

.frame__content {
  position: relative;
  top: 35%;
}

.frame__media--left {
  right: calc(13 * (1vw + 1vh));
}

.frame__media--right {
  left: calc(13 * (1vw + 1vh));
}